.prod {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;    
}

.prod-content {
    padding:3rem;
    
}

.image {
    background-color: aqua;
    padding: 50px;
}